<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oblong</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <h1>Oblong</h1>
    <h2>Long</h2>
    <div style="background-color: rgb(86, 66, 66);">
        <img src="{{ url_for('static', filename='archive/images/Train/Long/1.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Long/2.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Long/3.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Long/4.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Long/5.jpeg') }}" alt="Assym" width="280px" height="300px" style="padding: 18px;">
    </div>
    <br>
    <h2>Bangs</h2>
    <div style="background-color: rgb(86, 66, 66);">
        <img src="{{ url_for('static', filename='archive/images/Train/Bangs/1.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Bangs/2.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Bangs/3.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Bangs/4.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Bangs/5.jpeg') }}" alt="Assym" width="280px" height="300px" style="padding: 18px;">
    </div>
    <br>
    <h2>Curly</h2>
    <div style="background-color: rgb(86, 66, 66);">

        <img src="{{ url_for('static', filename='archive/images/Train/Curly/1.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Curly/2.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Curly/3.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Curly/4.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Curly/5.jpeg') }}" alt="Assym" width="280px" height="300px" style="padding: 18px;">
    </div>
    <br>
</body>

</html>
