<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oval</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <h1>Oval</h1>
    <h2>Blunt</h2>
    <div style="background-color: rgb(86, 66, 66);">
        <img src="{{ url_for('static', filename='archive/images/Train/Blunt/1.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Blunt/2.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Blunt/3.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Blunt/4.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Blunt/5.jpeg') }}" alt="Assym" width="280px" height="300px" style="padding: 18px;">
    </div>
    <br>
    <h2>Bun</h2>
    <div style="background-color: rgb(86, 66, 66);">
        <img src="{{ url_for('static', filename='archive/images/Train/Bun/1.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Bun/2.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Bun/3.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Bun/4.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Bun/5.jpeg') }}" alt="Assym" width="280px" height="300px" style="padding: 18px;">
    </div>
    <br>
    <h2>Pixie</h2>
    <div style="background-color: rgb(86, 66, 66);">

        <img src="{{ url_for('static', filename='archive/images/Train/Pixie/1.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Pixie/2.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Pixie/3.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Pixie/4.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Pixie/5.jpeg') }}" alt="Assym" width="280px" height="300px" style="padding: 18px;">
    </div>
    <br>
</body>

</html>
