<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Round</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <h1>Round</h1>
    <h2>Layered</h2>
    <div style="background-color: rgb(86, 66, 66);">
        <img src="{{ url_for('static', filename='archive/images/Train/Layered/1.jpg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Layered/2.jpg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Layered/3.jpg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Layered/4.jpg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Layered/5.jpg') }}" alt="Assym" width="280px" height="300px" style="padding: 18px;">
    </div>
    <br>
    <h2>Bun</h2>
    <div style="background-color: rgb(86, 66, 66);">
        <img src="{{ url_for('static', filename='archive/images/Train/Bun/1.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Bun/2.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Bun/3.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Bun/4.jpeg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Bun/5.jpeg') }}" alt="Assym" width="280px" height="300px" style="padding: 18px;">
    </div>
    <br>
    <h2>Asymetrical</h2>
    <div style="background-color: rgb(86, 66, 66);">

        <img src="{{ url_for('static', filename='archive/images/Train/Asymetrical/1.jpg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Asymetrical/2.jpg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Asymetrical/3.jpg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Asymetrical/4.jpg') }}" alt="Assym" width="300px" height="300px" style="padding: 18px;">
        <img src="{{ url_for('static', filename='archive/images/Train/Asymetrical/5.jpg') }}" alt="Assym" width="280px" height="300px" style="padding: 18px;">
    </div>
    <br>
</body>

</html>
